<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    {%- if request.page_type == 'gift_card' -%}
      <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script async src="{{ 'es-module-shims.min.js' | asset_url }}"></script>

    <script type="importmap">
      {%- comment -%}On Safari 16.3 and lower, a polyfill is used to load importmap{%- endcomment -%}
      {
        "imports": {
          "vendor": "{{ 'vendor.min.js' | asset_url }}",
          "theme": "{{ 'theme.js' | asset_url }}",
          "photoswipe": "{{ 'photoswipe.min.js' | asset_url }}"
        }
      }
    </script>

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}
      
  </head>

  {% liquid
    assign features_class = ''

    if settings.show_button_transition
      assign features_class = features_class | append: 'features--button-transition '
    endif

    if settings.show_image_zoom_on_hover
      assign features_class = features_class | append: 'features--zoom-image '
    endif

    if settings.show_page_transition
      assign features_class = features_class | append: 'features--page-transition '
    endif
  %}

  <body class="{{ features_class }}">
    {%- render 'shadow-dom-templates' -%}

    <loading-bar class="loading-bar" aria-hidden="true"></loading-bar>
    <a href="#main" allow-hash-change class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}
    {%- endif -%}

    <main id="main" class="anchor">
      {{ content_for_layout }}
    </main>

    {%- if request.page_type != 'password' -%}
      {%- sections 'footer-group' -%}
    {%- endif -%}
    <div class="template-cart ajax-popup" style="display:none">
      <div id="add-to-cart" class="model">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="add-to-cart-close close">&times;</span>
          <strong class="title">Added To Bag</strong>
          <div id="p-float" class="free-gifts">
            <div class="p-float">
              <div class="p-float-in">
                <img class="p-img" src=""/>
                <div class="Alert--error"></div>
              </div>
            </div>
            <div class="p-float p-float-buttons">
              <div class="product_data">
                <div class="p-name"></div>
                <div class="product_qty_price">
                  QTY. <span id="added-qty"> X </span> @ <span id="added-price">$PRICE</span> AUD
                </div>
              </div>
              <div class="p-float-in">
                <a class="continue_shopping continue ProductForm__AddToCart button Button--primary Button--full" href="javascript:void(0)" onclick="jQuery('.add-to-cart-close').trigger('click');">Continue Shopping</a>
                <a href="/cart" class="view_cart ProductForm__AddToCart button Button--primary Button--full">View Bag</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<style>
  .template-cart .model {
      position: fixed;
      z-index: 999;
      left: 0;
      top: 15%;
      width: 100%;
      height: 100%;
  }
  .ajax-popup .modal-content {
    position: relative;
    padding: 15px 20px 20px;
    max-width: 1200px;
  }
  .ajax-popup .modal-content {
    box-shadow: 0 15px 45px -14px #000000bf;
}
  .template-cart .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  .ajax-popup .close {
    background: #000;
    width: 30px;
    position: absolute;
    right: 20px;
    font-size: 20px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
}
  .ajax-popup .modal-content strong.title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    color: #000;
    position: relative;
    top: 3px;
}
  .template-cart #p-float {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.ajax-popup .free-gifts {
    margin-top: 15px!important;
    margin-bottom: 35px!important;
}
  
.template-cart div.p-float {
    float: left;
    width: 50%;
}
  .ajax-popup div.p-float-in {
    border: none!important;
}
.template-cart div.p-float-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #f2dcdc;
    background: #fff;
}
  .template-cart img.p-img {
    height: 200px;
    margin: 0 auto;
    display: block;
}
.ajax-popup .p-img {
    border: 2px solid #e6d9d9;
    height: 250px!important;
    width: 250px;
    object-fit: contain;
}
  .Alert--error, #shopify-product-reviews .spr-form-message-error {
    background: #e4c4c4;
    color: #cb2b2b;
}
  .ajax-popup .free-gifts .p-float-buttons {
    width: 60%;
    padding-top: 50px;
}

.template-cart div.p-float {
    float: left;
    width: 50%;
}
  .ajax-popup .free-gifts .p-float-buttons .product_data {
    width: 90%;
    margin: 0 auto 0 0;
}
.ajax-popup .product_data {
    font-size: 17px;
}
  .ajax-popup .product_data .p-name {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}
.ajax-popup div.p-name {
    padding-left: 40px;
    padding-right: 40px;
}
.template-cart div.p-name {
    font-weight: 700;
    text-align: center;
}
  .ajax-popup .product_data .product_qty_price {
    font-weight: 700;
}
  img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: top;
}
  .ajax-popup .product_data .product_qty_price span {
    color: #d4c58f;
}
  .ajax-popup .product_data .product_qty_price span {
    color: #d4c58f;
}
  .ajax-popup .free-gifts .p-float-buttons .p-float-in {
    float: left;
    width: 90%;
    margin: 45px auto 5px;
}
.ajax-popup div.p-float-in {
    border: none!important;
}
  .template-cart div.p-float-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #f2dcdc;
    background: #fff;
}
  .ajax-popup div.p-float-in a {
    margin-top: 20px;
}
.ajax-popup div.p-float-in a {
    float: left;
    width: 48%;
    margin: 0 1%;
    padding: 10px 28px;
}
.ProductForm__AddToCart {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Button--full {
    width: 100%;
}
  .ajax-popup div.p-float-in a {
    margin-top: 20px;
}
.ajax-popup div.p-float-in a {
    float: left;
    width: 48%;
    margin: 0 1%;
    padding: 10px 28px;
}

</style>
  </body>

</html>