{%- if section.blocks.size > 0 -%}
  <style>
    #shopify-section-{{ section.id }} {
      --product-list-items-per-row: {{ section.settings.products_per_row_mobile | times: 1 }};
      --product-list-horizontal-spacing-factor: {{ section.settings.horizontal_spacing_factor }};
      --product-list-vertical-spacing-factor: {{ section.settings.vertical_spacing_factor }};
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --product-list-items-per-row: {{ section.settings.products_per_row_desktop }};
      }
    }
  </style>

  <div class="section-spacing {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
    <div class="container">
      {%- assign wrapper_carousel_id = 'featured-collections-carousel-' | append: section.id -%}

      <div class="section-stack">
        <div class="v-stack justify-self-center gap-4 text-center sm:gap-5">
          {%- if section.settings.title != blank -%}
            <p class="h2 text-center">{{- section.settings.title -}}</p>
          {%- endif -%}
        </div>

        <featured-collections-carousel id="{{ wrapper_carousel_id }}" class="featured-collections-carousel">
          {%- for block in section.blocks -%}
            <div
              class="featured-collections-carousel__item {% if forloop.first %}is-selected{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- capture product_list -%}
                {%- for block in section.blocks -%}
                  <product-card class="product-card">
                    <div class="product-card__figure">
                      <a href="{{ block.settings.shade_url.url }}" class="product-card__media">
                        <img class="product-card__image product-card__image--primary  aspect-square" src="{{ block.settings.image.src | img_url: "medium"}}" />
                      </a>
                    </div>
                    <div class="product-card__info empty:hidden">
                      <div class="v-stack justify-items-center gap-2">
                        <div class="v-stack justify-items-center gap-1">
                          <p>{{ block.settings.title }}</p>
                        </div>
                      </div>
                    </div>
                  </product-card>
              {%- endfor -%}
              {%- endcapture -%}

              {%- if section.settings.stack_products -%}
                <product-list class="product-list {% if section.settings.hide_product_information %}product-list--compact{% endif %} justify-center">
                  {{- product_list -}}
                </product-list>
              {%- else -%}
                {%- assign product_carousel_id = 'featured-collections-product-list-carousel-' | append: block.id -%}

                <product-list class="floating-controls-container floating-controls-container--inside floating-controls-container--on-hover">
                  <scroll-carousel
                    id="{{ product_carousel_id }}"
                    group-cells
                    allow-drag
                    class="product-list {% if section.settings.hide_product_information %}product-list--compact{% endif %} product-list--carousel scroll-area bleed md:unbleed"
                  >
                    {{- product_list -}}
                  </scroll-carousel>

                  <button
                    is="carousel-prev-button"
                    type="button"
                    class="prev-next-button prev-next-button--prev circle-button hover:animate-icon-inline"
                    aria-controls="{{ product_carousel_id }}"
                    disabled
                  >
                    <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
                    {%- render 'icon' with 'arrow-left', direction_aware: true -%}
                  </button>

                  <button
                    is="carousel-next-button"
                    type="button"
                    class="prev-next-button prev-next-button--next circle-button hover:animate-icon-inline"
                    aria-controls="{{ product_carousel_id }}"
                  >
                    <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
                    {%- render 'icon' with 'arrow-right', direction_aware: true -%}
                  </button>
                </product-list>
              {%- endif -%}

              {%- if section.settings.button_text != blank -%}
                {%- assign button_link = section.settings.button_url
                  | default: '#'
                -%}

                <div class="justify-self-center">
                  {%- render 'button', href: button_link, content: section.settings.button_text -%}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </featured-collections-carousel>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Shades Slider",
  "class": "shopify-section--bordered",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Sub-heading",
      "default": "Featured Shades"
    },
    {
      "type": "select",
      "id": "layout_mode",
      "label": "Layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View all products"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
     {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "t:global.product_list.products_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 6,
      "label": "t:global.product_list.products_per_row_desktop",
      "info": "t:global.product_list.products_per_row_desktop_info",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:global.product_list.spacing_category",
      "info": "t:global.product_list.spacing_category_info"
    },
    {
      "type": "range",
      "min": 0.2,
      "max": 2,
      "step": 0.1,
      "id": "horizontal_spacing_factor",
      "label": "Horizontal spacing factor",
      "default": 1
    },
    {
      "type": "range",
      "min": 0.2,
      "max": 2,
      "step": 0.1,
      "id": "vertical_spacing_factor",
      "label": "Vertical spacing factor",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "shades",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Shade Name",
          "info": "If none is set, collection title is used."
        },
        {
          "type": "url",
          "id": "shade_url",
          "label": "shade URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Featured Shades",
      "settings": {}

    }
  ]
}
{% endschema %}
