{%- if section.settings.layout_mode == 'carousel' -%}
  {%- capture flickity_options -%}
  {
    "prevNextButtons": true,
    "pageDots": false,
    "wrapAround": false,
    "contain": true,
    "cellAlign": "center",
    "watchCSS": true,
    "dragThreshold": 8,
    "groupCells": true,
    "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
  }
  {%- endcapture -%}
{%- endif -%}

{%- capture section_settings -%}
{
  "layout": {{ section.settings.layout_mode | json }}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="1658843945c27be56a" data-section-type="featured-collections" data-settings='{{ section_settings }}'>
  <header class="SectionHeader SectionHeader--center">
    <div class="Container">
    {%- if section.settings.title != blank -%}
      <h3 class="Heading u-h1">{{ section.settings.title | escape }}</h3>
    {%- endif -%}
    </div>
  </header>

  {%- for block in section.blocks -%}
    {%- assign image = block.settings.image -%}

    <div class="TabPanel" id="block-1" aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}" role="tabpanel" {{ block.shopify_attributes }}>
      <div class="ProductListWrapper">
          {%- if section.settings.layout_mode == 'grid' -%}
            <div class="ProductList ProductList--grid ProductList--removeMargin Grid" data-mobile-count="{{ section.settings.grid_mobile_items_per_row }}" data-desktop-count="{{ section.settings.grid_desktop_items_per_row }}">
              {%- for block in section.blocks -%}
                <div class="Grid__Cell 1/{{ section.settings.grid_mobile_items_per_row }}--phone 1/2--tablet 1/{{ section.settings.grid_desktop_items_per_row }}--lap-and-up">
                  <img src="{{ block.settings.image.src | img_url: "medium"}}" />
                </div>
              {%- endfor -%}
            </div>
          {%- else -%}
            <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
              {%- for block in section.blocks -%}
                <div class="Carousel__Cell">
                <div class="ProductItem ">
                  <div class="ProductItem__Wrapper" swatch-generated="none">
                  <a href="{{ block.settings.shade_url.url }}" class="ProductItem__ImageWrapper ">
                    <div class="AspectRatio AspectRatio--short">
                    <img class="ProductItem__Image" src="{{ block.settings.image.src | img_url: "medium"}}" />
                    </div>
                  </a>
                      <span class="Image__Loader"></span>
                      <div class="ProductItem__Info ProductItem__Info--center">
                        <h2 class="ProductItem__Title Heading">
                          <a href="{{ block.settings.shade_url.url }}">
                          {{ block.settings.title }}
                          </a>
                        </h2>
                      </div>
                </div>
                </div>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
      </div>
      {%- if section.settings.button_text != blank -%}
        <div class="Container">
          <div class="SectionFooter">
            <a href="{{ section.settings.button_url }}" class="Button Button--primary">{{ section.settings.button_text | escape }}</a>
          </div>
        </div>
      {%- endif -%}
    </div>
  {%- endfor -%}
</section>

{%- capture hack -%}
{%- comment -%}This is just an ugly hack to make those variables appear as part of the theme editor in the General Settings{%- endcomment -%}
{% if section.settings.layout_mode == 'grid' %}{{ settings.product_list_horizontal_spacing }},{{ settings.product_list_vertical_spacing }}{% endif %}
{%- endcapture -%}

{% schema %}
{
  "name": "Shades Slider",
  "class": "shopify-section--bordered",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Sub-heading",
      "default": "Featured Shades"
    },
    {
      "type": "select",
      "id": "layout_mode",
      "label": "Layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View all products"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "shades",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Shade Name",
          "info": "If none is set, collection title is used."
        },
        {
          "type": "url",
          "id": "shade_url",
          "label": "shade URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Featured Shades",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}